// COLORS
$primary-color: #89b4fa	;
$secondary-color: #74c7ec;

$white-color: #eff1f5	;

$dark-grey: #313244;
$light-grey: #6c7086;

$dark-blue-text: #1e1e2e	; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
